body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin:0;
    background-color: #f0f0f0;
}

#maze {
    display: grid;
    grid-template-columns: repeat(10, 50px);
    grid-template-rows: repeat(10, 50px);
    border: 2px solid #000;
    width: 500px;
    height: 500px;
    background-color: hsl(0, 0%, 100%)
}

.cell {
    background-color: hsl(323, 97%, 76%)

}

.cell.start {
    background-color:rgb(227, 0, 212)
}

.cell.end {
    background-color:hsl(288, 100%, 50%)
}
.cell.wall {
 background-color:rgb(253, 85, 85)
}

.cell.player {
    background-color:rgb(253, 252, 252)
}